@use '../abstract/variables' as *;


.product-styling{


    .card-title{

        height: 50px;
    }

    .product-img{

        object-fit: contain;
        height: 230px;
    }

    .product-rating-container{

        height: 30px;


        .product-ratings-amount:hover{

            color: map-get($colors , 'highlight' );


        }
    }



    .btn-toaster{

        

        img{

            height: 25px;
        }

    }


}