.product-styling{


    .card-title{

        height: 50px;
    }

    .product-img{

        object-fit: contain;
        height: 250px;
    }

    .product-rating-container{

        height: 30px;
    }

    .btn-toaster{

        

        img{

            height: 25px;
        }

    }


}